@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Very Large Devices, Wide Screens */

@media only screen and (max-width : 1399px)
	/**/

@media only screen and (max-width : 1280px)
	/*.banner .wrap .flex_composition
		margin-left: 0px
		padding-left: 50px*/

@media only screen and (max-width : 1200px)
	/*.banner .wrap .flex_composition
		padding-left: 20px*/
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.banner .wrap .header .phone
		margin-left: 34px
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.banner .wrap .header .menu
		display: none
	.mm-menu.mm-offcanvas
		width: 200px
	html.mm-right.mm-opening .mm-menu.mm-opened~.mm-slideout
		transform: translate3d(-200px,0,0)
	.banner .wrap .header .hamburger
		display: inline-block
	.banner .wrap .flex_composition .wrap-button .button:last-child
		margin-right: 20px
		margin-top: 20px
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.banner .wrap .header .phone
		display: none
	/**/

@media only screen and (max-width : 360px)
	.banner .wrap .flex_composition
		background-image: none

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

