@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body, p, ul, li, h1, h2, h3
	margin: 0
	padding: 0
	list-style: none

body
	min-width: 320px
	//overflow-x: hidden

$wrap_logo_width: 326px

.banner
	position: relative
	height: 100vh
	min-height: 800px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	font-size: 11px
	font-family: OpenSansBold
	color: #fff
	a, a:hover, a:visited
		color: #fff
		text-transform: uppercase
		text-decoration: none
	.wrap
		height: 100%
		background-color: rgba(0,0,0,.55)
		.header
			z-index: 100
			position: relative
			padding: 24px 0
			border-bottom: 1px solid rgba(255,255,255,.11)
			strong, .phone
				display: inline-block
				vertical-align: middle    				
			.logo
				strong
					width: 110px
					margin-left: 10px
			.phone
				margin-left: 126px
				padding: 6px 10px
				color: #232529
				background-color: $accent
				.fa
					margin-right: 8px
			.menu
				position: absolute
				top: 35.5px	
				right: -6px
				li
					display: inline-block
					a
						display: block
						margin-left: 14px
						padding: 4px 8px
						&:hover
							color: #232529
							background-color: $accent
			.hamburger
				display: none
				position: absolute
				right: -4px
				top: 19px
				.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
					background-color: #fff
					border-radius: 0
					width: 40px
					height: 4px

		.flex_composition
			display: -webkit-box
			display: -webkit-flex
			display: -ms-flexbox
			display: flex
			-webkit-box-orient: vertical
			-webkit-box-direction: normal
			-webkit-flex-direction: column
			-ms-flex-direction: column
			flex-direction: column
			-webkit-box-pack: center
			-webkit-justify-content: center
			-ms-flex-pack: center
			justify-content: center

			padding-top: 190px
			margin-top: -120px
			min-height: 700px
			height: 100vh
			.wrap_logo
				@include wrap_logo(326px)
				border-color: rgba(255,255,255,.11)

			.h1
				font-size: 46px
				line-height: 1
				font-family: RobotoCondensedBold
				text-transform: uppercase
			.text
				font-size: 17px
				margin-top: 14px
			.wrap_button
				margin-top: 46px
				.button
					display: inline-block
					margin-right: 24px
					padding: 0 50px
					font-family: OpensansBold
					font-size: 11px
					text-align: center
					line-height: 50px
					border: 3px solid #fff
					&:hover
						color: #232529
						border-color: $accent
						background-color: $accent
	.arrow
		position: absolute
		left: 50%
		bottom: 56px
		margin-left: -16px
		.fa
			font-size: 50px
			color: #fff
.main
	.header
		margin-bottom: 20px
		.h2
			font-family: RobotoCondensedBold
			font-size: 36px
			color: #232529
			text-transform: uppercase
		.detail
			margin-top: -6px
			font-family: Opensans
			font-size: 12px
			color: #999
	.about
		padding-top: 30px
		padding-bottom: 90px
		font-family: Opensans
		color: #666
		.wrap_logo
			@include wrap_logo(133px)
			border-color: rgba(0,0,0,.13)
		.box
			padding-left: 80px
			margin-top: 14px
			background-image: url("../img/icon_clock.svg")
			background-repeat: no-repeat
			.h3
				font-family: RobotoCondensedBold
				font-size: 15px
				text-transform: uppercase
			.text
				margin-top: 4px
				margin-bottom: 33px
				font-size: 15px
		//.best
		//	background-position: 0px 9px
		//.experience
		//	background-position: 0px -137px
		img
			width: 458px
			height: 288px
			margin-top: 10px
			border: 5px solid $accent

@import "media" // Всегда в конце